.spacer {
  flex: 1 1 auto;
}

:host {
  display: flex;
  flex-direction: column; /* Stack children (mat-toolbar and router-outlet) vertically */
  height: 100vh; /* Ensure the app component takes up the full viewport height */
  overflow-x: hidden;
}

.mat-sidenav-container {
  flex: 1; /* Ensure the component container grows to fill the available space */
}

.centered {
  place-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}


///* Targeting all components that are direct children of router-outlet */
//router-outlet > * {
//  display: flex;
//  flex-direction: column;
//  flex-grow: 1;
//  overflow-y: auto; /* Introduce a scrollbar on vertical overflow */
//}
