:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parallax {
  /* overflow: hidden; */
  position: relative;
  z-index: -1;
  min-height: 75vh;
  display: grid;
  grid-template-areas: "stack";
}

.parallax > * {
  grid-area: stack;
  animation: parallax linear;
  animation-timeline: scroll();
}

.parallax > img {
  width: 100%;
}

.primary-header,
.hero {
  --parallax-speed: 2;
  z-index: 10;
}

.parallax__bg {
  --parallax-speed: 5;

  z-index: 1;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}


.hero {
  margin-block-start: max(20vh, 8rem);
}

.hero-wrapper {
  text-align: center;
  width: 100%;
  font-family: var(--serif);
  color: white;

  h1, p {
    font-family: inherit;
    position: relative;
    padding: 0.5rem 0 0.5rem 0;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.75rem;
  }
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 200px));
  }
}

.example {
  align-self: center;
  width: 80dvw;
  height: 200dvh;
  background-color: white;
  border-radius: 1rem;
}
