<div class="parallax">
  <img class="parallax__bg" src="assets/images/CollinandBrielleEngagement(5of86).jpg" alt="Your browser does not support webp files" priority>
<!--  <img src="assets/images/kisspng-autumn-leaf-color-clip-art-transparent-fall-leaves-border-png-5a7634f309c2f1.29748380151769624304.jpg" alt="Your browser does not support webp files" class="responsive-image" width="1024" height="1536" priority>-->
<!--  <div class="flower-petals"></div>-->
  <div class="hero">
    <div class="hero-wrapper">
      <h1 class="hero-title">Brielle & Collin Wyatt</h1>
      <p>Thursday Oct 19, 2024</p>
      <p>St. Joseph, MO</p>
    </div>
  </div>
</div>

<div class="example">home works!</div>
